.home{
    width : 95%;
    margin: 1rem auto;
}

.title
{
color: royalblue;
}

.subtitle{
    line-height: 2rem;
    color: steelblue;
}

/*CELULAR*/
@media(max-width: 450px){
    .home{
        width: 70%;
    }
}

/*IPAD*/
@media(max-width: 770px){
    .home{
        width: 90%;
    }
}