<mat-sidenav-container class="container" color="green">
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <!--Endpoint "" ou /-->
      <a  routerLink="" mat-list-item>
        <i class="material-icons">home</i>
        <!-- <mat-icon>home</mat-icon>  -->
        Inicio
      </a>
      <mat-divider></mat-divider> 
      <a routerLink="/categorias"  mat-list-item>
        <i class="material-icons">note_add</i>
        Categorias
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>  
  
    <router-outlet>
     
   </router-outlet>
   

  </mat-sidenav-content>

</mat-sidenav-container>
