<form>
    <h1>
        .::Nova Categoria::.
    </h1>
    <mat-form-field class="form">
       <mat-label>Nome</mat-label>
       <input matInput type="text" name="nome" placeholder="lorem ipsum">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput type="text" name="descricao" placeholder="lorem ipsum"></textarea>
     </mat-form-field>

    <div class="buttons">
        <button class="button mat-elevation-z8" mat-flat-button color="primary">
            CRIAR
          </button>
          
          <button class="button mat-elevation-z8" mat-flat-button color="warn">
            CANCELAR
          </button>    
    </div>

</form>
