<div class="content">
    <div class="title">
      <h1>.::Consultar Livros::.</h1>
    </div>
    
    <button class="button mat-elevation-z8" mat-flat-button color="primary">
      + NOVO LIVRO
    </button>
  
    <div class="mat-elevation-z8">
      <table mat-table class="tabela" [dataSource]="livros">
        
        <!-- ID Column -->
        <ng-container matColumnDef="identificador">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.identificador }}</td>
        </ng-container>
  
        <!-- NOME Column -->
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef>TÍTULO</th>
          <td mat-cell *matCellDef="let element">{{ element.titulo }}</td>
        </ng-container>
  
        <ng-container matColumnDef="livros">
          <th mat-header-cell *matHeaderCellDef>LEITURA</th>
          <td mat-cell *matCellDef="let element">
            <a class="livro">
              <i class="material-icons">book</i>
            </a>
          </td>
        </ng-container>
  
        <!-- ACOES Column -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef class="header">AÇÕES</th>
          <td mat-cell *matCellDef="let element">
            
            <button mat-icon-button color="primary" href="#"> 
              <mat-icon>edit</mat-icon>
            </button>
  
            <button mat-icon-button color="warn" href="#" aria-label="Example icon-button with a heart icon">
              <mat-icon>delete</mat-icon>
            </button>
  
          </td>
        
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>